<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-firestore.js"></script>
<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-database.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.5.1/firebase-ui-auth.css" />
<script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyB2lWrNUJwTN4V5IiosYdQBxO38juxVrhg",
        authDomain: "vtu-info-fvbie.firebaseapp.com",
        databaseURL: "https://vtu-info-fvbie-default-rtdb.firebaseio.com",
        projectId: "vtu-info-fvbie",
        storageBucket: "vtu-info-fvbie.appspot.com",
        messagingSenderId: "990973592061",
        appId: "1:990973592061:web:36bbae2a317ad54c569994",
        measurementId: "G-YKKPTMDNP7"
    };
    // Initialize Firebase 
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>